# Application
DATABASE_URL=postgresql+asyncpg://postgres:0702@db:5432/test_db # If using docker use db to run locally use localhost
BASE_URL=http://localhost:8000

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0702
POSTGRES_DB=test_db